# Compiled object files
*.o
*.obj

# Executables
*.exe
*.out

# Compiled libraries
*.dll
*.so
*.dylib

# Build directories
build/
bin/

# IDE and editor files
.vscode/
.idea/
*.suo
*.user
*.sln
*.suo
*.vcxproj
*.vcxproj.filters

# Dependency directories
lib/
vendor/
.DS_Store